.elementor-101 .elementor-element.elementor-element-d31569d>.elementor-element-populated {
    padding: 50px 40px 10px 10px;
}

.elementor-101 .elementor-element.elementor-element-c15c67b .prelements-heading .title-inner .title {
    font-size: 30px;
}

.elementor-101 .elementor-element.elementor-element-c15c67b .prelements-heading .description {
    color: #666666;
}

.elementor-101 .elementor-element.elementor-element-c15c67b .prelements-heading .description p {
    color: #666666;
}

.elementor-101 .elementor-element.elementor-element-85c5d53 {
    color: #666666;
}

.elementor-101 .elementor-element.elementor-element-e184403 .rs-btn a:hover {
    background-color: #000000;
}

.elementor-101 .elementor-element.elementor-element-e184403>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-101 .elementor-element.elementor-element-f49d37d>.elementor-widget-container {
    margin: 0px 0px -136px 0px;
}