.elementor-97 .elementor-element.elementor-element-3e1ead0>.elementor-element-populated {
    padding: 50px 40px 10px 10px;
}

.elementor-97 .elementor-element.elementor-element-79bba73 .prelements-heading .title-inner .title {
    font-size: 30px;
}

.elementor-97 .elementor-element.elementor-element-79bba73 .prelements-heading .description {
    color: #666666;
}

.elementor-97 .elementor-element.elementor-element-79bba73 .prelements-heading .description p {
    color: #666666;
}

.elementor-97 .elementor-element.elementor-element-8e4d1a7 {
    color: #666666;
}

.elementor-97 .elementor-element.elementor-element-d9d6d45 .rs-btn a:hover {
    background-color: #000000;
}

.elementor-97 .elementor-element.elementor-element-d9d6d45>.elementor-widget-container {
    padding: 15px 0px 0px 0px;
}

.elementor-97 .elementor-element.elementor-element-12adff0>.elementor-widget-container {
    margin: 0px 0px -136px 0px;
}